* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(to right,#0A79DF,#74B9FF);
  display: flex;
  overflow: hidden;
}

.gameContainer {
  width: 600px;
  height: 600px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.card {
  width: 23%;
  height: 23%;
  margin: 5px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s;
  cursor: pointer;
  background-color: transparent;
}

.card:active {
  transform: scale(0.95);
  transition: transform 0.2s ease-in-out;
}

.card.flip {
  transform: rotateY(180deg);
  cursor: pointer;
}

.front,
.back {
  background-color: #74B9FF;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 4px;
  position: absolute;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(180deg);
}

/* --------------------------------------------------------------------------------------------- */

.score,.try{
  position: absolute;
  width: 15%;
  text-align: center;
  top: 4vh;
  left: 34.2vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  color: #4834DF;
  border: 3px beige solid;
  border-radius: 5px;
  background: linear-gradient(to right,#25CCF7,#FFF222);
  line-height: 60px;
  padding: 10px 30px 10px 30px;
}

.try{
  position: absolute;
  left: 50vw;
  background: linear-gradient(to right,#25CCF7,#FFF222);
}

.result{
  display: none ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
  position: absolute;
  left: 34.8vw;
  top: 40vh;
  height: 200px;
  width: 30%;
  border: mintcream transparent;
  border-radius: 5px;
}
.resultScore,.resultTries{
  font-family: 'Trebuchet MS';
  font-size: 25px;
  margin-bottom: 3px;
}
.stars > img{
  display: flex;
  margin-top: 5px;
}
